<div class="page-header">
    <h1>用户角色管理</h1>
</div>

<div class="page-header">
    <button class="btn btn-info" type="button" ng-click="update();">
        <i class="icon-ok bigger-110"></i>
        提交
    </button>

    &nbsp; &nbsp; &nbsp;
    <button class="btn" type="button" ng-click="back();">
        <i class="icon-undo bigger-110"></i>
        返回
    </button>
</div>
<div class="widget-main ">


    <div class="col-xs-12 col-lg-5">

        <table class="table table-hover table-striped .table-responsive table-bordered  no-margin">
            <thead>
            <th class="center">
                <input type="checkbox" class="ace" ng-click="checkAll('left')" ng-model="selectedAllLeft">
                <span class="lbl"></span>
            </th>
            <th>ID</th>
            <th>名称</th>
            </thead>
            <tbody>
            <tr ng-repeat="data in leftData" class="selected">
                <td class="center">
                    <label>
                        <input type="checkbox" class="ace" ng-model="data.selected"><span class="lbl"/>
                    </label>
                </td>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-lg-2 center">
        <div>
            <button class="btn btn-primary " ng-click="move('left')">添加
                <i class="icon-arrow-right"></i>
            </button>
        </div>

        <h1></h1>
        <div>
            <button class="btn btn-primary" ng-click="move('right')">
                <i class="icon-arrow-left"></i>
                移除
            </button>
        </div>
    </div>

    <div class="col-xs-12 col-lg-5">
        <table class="table table-hover table-striped .table-responsive table-bordered  no-margin">
            <thead>
            <th class="center">
                <input type="checkbox" class="ace" ng-click="checkAll('right')" ng-model="selectedAllRight"/>
                <span class="lbl"></span>
            </th>
            <th>ID</th>
            <th>名称</th>
            </thead>
            <tbody>
            <tr ng-repeat="data in rightData">
                <td class="center">
                    <label>
                        <input type="checkbox" class="ace" ng-model="data.selected"><span class="lbl"/>
                    </label>
                </td>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
