<div class="col-xs-12 widget-container-span">
    <div class="widget-box">
        <div class="widget-header header-color-blue2">
            <h5 class="bigger lighter">用户列表</h5>
        </div>

        <div class="widget-body">
            <div class="widget-toolbox">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="#/system/users/add">
                            <button class="btn btn-sm btn-success">
                                <i class="icon-pencil bigger-110"></i>
                                新增
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="widget-main">
    <table class="table table-hover table-striped .table-responsive table-bordered  no-margin">
        <thead>
        <th>ID</th>
        <th>用户昵称</th>
        <th>登录名称</th>
        <th>手机号码</th>
        <th>邮箱</th>
        <th>性别</th>
        <th>创建日期</th>
        <th>操作</th>
        </thead>
        <tbody>
        <tr ng-repeat="data in dataList">
            <td>{{data.id}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.loginName}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.email}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.gmtCreate}}</td>
            <td>
                <a href="#/system/users/{{data.id}}/role">
                    <button class="btn btn-purple btn-xs"><i class="icon-pencil bigger-80 "></i>权限</button>
                </a>
                <a href="#/system/users/{{data.id}}/edit">
                    <button class="btn btn-primary btn-xs"><i class="icon-pencil blue bigger-80 "></i>编辑</button>
                </a>
                <button class="btn btn-danger btn-xs" ng-click="remove(data.id)"><i
                        class="icon-trash bigger-80"></i>删除
                </button>
            </td>
        </tr>

        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <span class="pull-left">
         {{(currentPage - 1 ) * itemsPerPage + 1 }} 到 {{(currentPage - 1 ) * itemsPerPage + itemsPerPage}}条,  总共 {{totalItems}} 条
    </span>
    <ul uib-pagination total-items="totalItems"
        ng-model="currentPage"
        max-size="maxSize"
        items-per-page="itemsPerPage"
        class="no-margin pull-right"
        boundary-link-numbers="true"
        ng-change="pageChanged()"
        rotate="false"></ul>
</div>
